.covers{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 275px;
    height: 195px;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid black;
    border-radius: 2px;
    background-color: white;
    box-shadow: 0 0 0.6em #b9b9b9 inset, 0 0 0.6em #b9b9b9;

}
#cover{
    font-weight: bold;
}