.audio_screen{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 275px;
    height: 195px;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid black;
    border-radius: 2px;
    background-color: white;
    box-shadow: 0 0 0.6em #b9b9b9 inset, 0 0 0.6em #b9b9b9;


img{
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 276px;
    height: 150px;

}
audio{
    position: absolute;
    top: 88%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 276px;
    height: 45px;
}
}